body {
  font-family: Arial, sans-serif;
  background-image: url('/assets/img/bg.jpg');
  background-size: cover;
  color: #333;
  padding: 2em;
}

h1 {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

a {
  display: block;
  text-align: center;
  padding: 1em;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  margin-top: 1em;
  border-radius: 5px;
}

footer {
  margin: 2em 0 0 0
}
