{% set title = "Super Simple Demonstration Home Page" %}
{% include '_header.html' %}
  <!-- this file is {{ output_filename }} -->
  {% if output_filename == 'index.html' %}<!-- this is the home page -->{% endif %}

  <h1>Welcome to the Home Page</h1>

  <p>This is the Home Page of our demonstration website. Here, you'll
  find basic information about what our site offers, an introduction
  to our main features, and guidance on how to navigate. Our mission
  is to provide clear and concise content for our visitors, ensuring
  that they get the information they need swiftly and effectively.</p>

  <p>This page is the starting point for exploring various sections of
  our website. We've crafted each segment with care, ensuring that
  every piece of content adds value. As you delve deeper, you'll
  uncover a wealth of information tailored to meet your specific
  needs. We're glad you stopped by, and we hope you find what you're
  looking for!</p>

  <a href="/subdirectory/subpage.html">Go to Subpage</a>

{% include '_footer.html' %}
